# 자료형

여러 개의 아이템들을 저장하는 객체 = 여러 개의 값(데이터타입)을 저장하는 그릇

## 1. 리스트(List)

▶ 문법 기호 : [아이템1, 아이템2, 아이템3 .... ]


▶ 용어 : 아이템 = 요소


▶ 아이템으로 가질 수 있는 데이터 타입 : 문자, 숫자, 리스트, 딕셔너리 ...


▶ 종류

     * 아이템이 없는 리스트
    
     * 1차원 리스트
    
     * 다차원 리스트 
    
    
▶ 특징

     * 인덱스 활용
    
     * 다차원 리스트의 구조에 대한 이해

### 1.생성하기

In [4]:
# 빈 리스트 생성하기 = 아이템이 없는 리스트
# 문법기호 : []
# 함수 : list();
a = []
a2 = list()
print(type(a), type(a2))
print(a,a2)

<class 'list'> <class 'list'>
[] []

In [5]:
# 모든 데이터타입을 아이템으로 가질수있다.
a3 = ['a', 10, 1.1, [1,23.1,'a']]

In [13]:
# 2차원 배열이며, 인덱스를 2개써야 하나의 값을 타겟으로 잡을수있다.
a3[3][0]

1

In [14]:
# 3차원 배열 예시
[1,2,3,[1,2,3,[1,2]]]

[1, 2, 3, [1, 2, 3, [1, 2]]]

## 2. 인덱싱, 슬라이싱

리스트를 인덱스 번호로 접근하면 해당하는 위치의 값(아이템)을 가져온다.

* 복습
    - 첫번째 인덱스 번호는 ? = 0번 인덱스 = 첫번째아이템
    - 마지막 인덱스 번호는 ? = -1 = 마지막아이템

In [19]:
a = [1,2,3,4,5,6,7,8,9]

In [20]:
# 리스트의 6이라는 아이템 가져오기
a[5]

6

In [21]:
#리스트의 마지막 값 확인하기
a[-1]

9

In [25]:
# len()으로 길이확인 가능
len(a)

9

## 슬라이싱(slicing)

- 정의 복습 : 연속된 범위에 있는 하나 또는 하나 이상의 여러개 아이템에 접근한다.
- 문법기호 : 대상객체(문자열,리스트)[시작번호 : 끝번호 간격] => 끝번호는 포함하지 않는다.

### << 연습문제 >>

다음의 4차원 리스트에서 아래 조건에 맞는 값을 출력해주세요.

         a = [1,2,3, ['a', [100, 200, ['강남', '서울'], 300,], 'b', 'c']]
         
         출력 결과 = 강남 & 300 & c

In [26]:
a = [1,2,3, ['a', [100, 200, ['강남', '서울'], 300,], 'b', 'c']]

In [32]:
print("%s & %d & %s"%(a[3][1][2][1], a[3][1][3], a[3][3]))

서울 & 300 & c

In [33]:
# 리스트끼리 연결 +
a = [1,2,3]
b = [4,5,6]

In [34]:
a+b

[1, 2, 3, 4, 5, 6]

In [36]:
# +를 한다고 원본자료가 변하지는 않음
print(a,b);

[1, 2, 3] [4, 5, 6]

In [37]:
# 리스트 대상 곱하기 * 
b * 3

[4, 5, 6, 4, 5, 6, 4, 5, 6]

### 4. 리스트 타입의 함수 (method)
* 종류

    - 리스트.append(추가할 아이템) : 인자값을 통채로 리스트의 마지막 아이템으로 추가, 인자값은 1개만 받음 = 1개의 아이템만 추가 가능

    - 리스트.extend(추가할 아이템) : 인자값의 아이템을 뽑아서 리스트의 마지막 아이템으로 추가, 인자값은 1개만 받음, 단 여러 개의 아이템 추가 가능
    
    - 리스트.insert(인덱스번호, 추가할 아이템) : 위치를 지정해서 아이템을 삽입할 수 있음, 통채로 아이템을 추가
    
    - 특징 : 원본에 바로 적용이 됨
    
    
* 참고 연산자 : in 연산자 (결과값은 bool type)

In [41]:
# 리스트 생성하기
a= [1,2,3]
a

[1, 2, 3]

In [42]:
# append()
# 문법 : 리스트.append(추가할 아이템)
a.append(4)
a

[1, 2, 3, 4]

In [43]:
a.append([5,6])

In [44]:
a[4]

[5, 6]

In [45]:
# extend()
# 문법 : 대상리스트.extend(리스트)
# append()와의 차이점 : 인자값으로 리스트만 받을수 있다.
# 리스트 길이만큼 인덱스가 연장된다 (append는 무조건 1만큼 연장됨)
a.extend([7,8,9])
a

[1, 2, 3, 4, [5, 6], 7, 8, 9]

In [46]:
# extend는 무조건적으로 리스트로 넣어줘야합니다.
# 그냥넣으면 에러터짐
a.extend(0)
a

TypeError: 'int' object is not iterable

In [47]:
# insert()
# 문법 : 대상리스트,insert(인덱스번호, 추가할아이템)
# 다른함수와의 차이점 : 아이템 추가가 마지막 인덱스가 아닌 지정한 인덱스를 기준으로
# append와 유사점 : 인덱스하나에 다 때려박음
a.insert(0, 100);

In [48]:
a

[100, 1, 2, 3, 4, [5, 6], 7, 8, 9]

In [49]:
a.insert(0,[98,99])
a

[[98, 99], 100, 1, 2, 3, 4, [5, 6], 7, 8, 9]

In [52]:
# in 키워드는 특정 요소가 리스트 내부에 존재하는지여부를 확인합니다.
99 in a

False

In [54]:
# 99의 위치는 a[0][1]이다 그렇게때문에 99의 위치를 물어볼려면 99 in a[0]으로 접근해야한다
99 in a[0]

True

In [55]:
# not in 키워드는 특정요소가 리스트 내부에 없는지를 물어봅니다.
# 값 not in 리스트
# 50이 a리스트에 없습니까? -> 50 not in a
10 not in a

True

### << 연습문제>>
아래에 순서에 맞추어 직접 실행해보세요

In [56]:
l = []
l.extend([1,2,3])
l.insert(2,'100')
l.append(["A","B"])
print(l*2)

[1, 2, '100', 3, ['A', 'B'], 1, 2, '100', 3, ['A', 'B']]

### 5. 아이템 수정하기

- 인덱싱 슬라이싱을 이용해서 수정할수 있다

In [2]:
# 리스트 생성하기
a =[1,2,3,4]

In [3]:
# 하나의 아이템 수정하기
# 0번 인덱스에 있는 값을 [10,20]으로 수정하기
# 결과 : [[10,20],2,3,4]
a[0]=[10,20]
a

[[10, 20], 2, 3, 4]

In [10]:
# 연속된 범위의 여러 아이템 수정하기
# 0 번 인덱스만 선택 => 슬라이싱으로 선택
a2 = [1,2,3,4]
# a2[0:1;[10:20]]
a2[0:1] = [100]
a2

[100, 2, 3, 4]

## << 연습문제>>
아래 조건에 맞추어 리스트를 수정하세요
[10,99,3'사과',73,'바나나]
사과를 apple로 수정
99,3 을 9, 33수정
73을 [73,74]로 수정

In [23]:
l = [10,99,3,'사과',73,'바나나']

In [24]:
l[3] = 'apple'
l

[10, 99, 3, 'apple', 73, '바나나']

In [25]:
l[1:3] = [9,33]
l

[10, 9, 33, 'apple', 73, '바나나']

In [26]:
l[4] = [73,74]
l

[10, 9, 33, 'apple', [73, 74], '바나나']

### 6. 아이템 삭제하기
- 슬라이싱
- del키워드 + 인덱싱/슬라이싱
- remove() 메서드 : 값을 기준으로 삭제
- pop()
    - 인자값에 아무것도 입력하지 않거나 -1 입력하면 마지막 인덱스르르 삭제
    - 특정 인덱스를 지정하여 삭제

In [34]:
#리스트 생성하기
a1 = [10,20,30,40,50]
a2 = [10,20,30,40,50]

In [35]:
# 하나의 아이템 삭제하기 1 - 슬라이싱 + 빈 리스트 대입
# 0번 인덱스 값 삭제하기
a1[0:1] = []
a1

[20, 30, 40, 50]

In [36]:
# 만약 슬라이싱이 아닌 인덱싱을 이용한 빈리스트 대입시는 빈 리스트가 해당번호에 대입
a2[0] = []
a2

[[], 20, 30, 40, 50]

In [37]:
# 하나의 아이템 삭제하기 - del 키워드  + 인덱싱
del a1[-1]

In [38]:
a1

[20, 30, 40]

In [46]:
# 하나의 아이템 삭제하기 3- remove() 메서드
# 문법 : 리스트, remove(삭제할 자료를 직접 기입(인덱스가 아님!!))
a = [1,2,3,3,3,4,5]

In [47]:
# 5라는 값을 삭제(인덱스 번호로는 6)
a.remove(5)
a

[1, 2, 3, 3, 3, 4]

In [48]:
a.pop() #인덱스번호를 미기입하면 마지막자료 삭제

4

In [50]:
a

[1, 2, 3, 3, 3]

### 7. 아이템 정렬하기
* 함수
    - sort() : 기본동작 = 오름차순 정렬(작은값이 먼저오고 큰값이 나중에)
    - reverse() : 기존 리스트의 처음과 마지막 순서를 뒤집어서 나열

In [51]:
a = [10, -30, 57, -33, 71, 1, 34, -2]

In [ ]:
# sort와 reverse는 사용시 원본 자료가 변경이 됩니다.

In [53]:
a.sort()
a

[-33, -30, -2, 1, 10, 34, 57, 71]

In [56]:
# 값을 오름차순이 아닌 내림차순으로 정렬하는경우 : sort(reverse=True)
a.sort(reverse=True)
a

[71, 57, 34, 10, 1, -2, -30, -33]

In [57]:
#값을 인덱스기준으로 반대로 뒤집기 : reverse()
b= [10,71,32,46,5,95]

In [58]:
b.reverse()
b

[95, 5, 46, 32, 71, 10]

### 8. 아이템 갯수 세기
* 함수
    - 리스트.count(값) : 값이 리스트에 몇 개 있는지 개수를 반환 => 특정 아이템의 개수를 반환
    
    - len() : 파이썬 내장함수, 인자값으로 전달받은 객체의 길이 => 전체 아이템의 개수를 반환

In [67]:
a = [1,2,3,4,5,6,7,4,4,6,7]

In [68]:
# 특정 아이템의 개수 : count()
a.count(7)

2

In [69]:
# 전체 아이템의 개수 : len()
len(a)

11

### 9. 리스트 복사하기
* 할당기호(=)
* copy() 메서드
* list()
* 슬라이싱

In [75]:
# 1. 할당기호
a = [1,2,3,4,5]
b = a
print(a,b)

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]

In [76]:
# 2.copy() 로 메서드 복사
c = a.copy()
a

[1, 2, 3, 4, 5]

In [77]:
# 파이썬은 id(자료)를 이용해 저장된 번지수 주소를 조회ㅏ\
print(id(a), id(c))

2305501947392 2305501904832

In [78]:
# a를 변경해도 c는 바뀌지않습니다.
a[2] = 20
print(a,b,c)

[1, 2, 20, 4, 5] [1, 2, 20, 4, 5] [1, 2, 3, 4, 5]

In [83]:
# 3. list()로 복사하기
# list(자료)를  넣으면 그 자료를 힙에 새롭게 할당해 리스트화합니다
d = list(c)

In [84]:
print(c,d)

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]

In [85]:
# 깊은복사 여부 확인
print(id(c), id(d))

2305501904832 2305501962624

In [86]:
# 4. 슬라이싱으로 복사하기
e = d[:]
print(id(d), id(e))

2305501962624 2305501904768

### <<연습문제>>
1. a리스트를 이용하여 다음과 같은 문자열을 출력하시오

 출력문: you too

In [87]:
a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python']

In [89]:
print(a[4], a[2])

you too

In [ ]:
# 리스트의 길이도 구하세요
len(a)

In [92]:
# 3. 리스트이 첫번째 아이템에 길이를 추가하세요
a.insert(0, len(a))

[7, 'Life', 'is', 'too', 'short', 'you', 'need', 'python']

In [93]:
# 4. 아래와 같이 크기 순서가 없는 리스트를 만들고 내림차순으로 정렬로 바꿔보세요
a = [1,4,9,2,6,10]

In [94]:
a.sort(reverse=True)
a

[10, 9, 6, 4, 2, 1]

In [109]:
# 5. 다음과 같은 아이템을 가지는 리스트를 만들고 아이템을 삭제해보세요.
a = [1,2,3,4,5,6,7,8,9,10]
# 결과 2,4,6,8,10
del a[::2]
a

[2, 4, 6, 8, 10]

## 자료형 - Tuple
- 생성 문법 기호 : ()
- 아이템을 수정/ 삭제할수 없기 때문에 실수로 데이터가 변경되거나 삭제되는 위험이 적다
- 객체를 저장하는데 더 적은 메모리를 사용한다
- dictionay 자료형의 key로 활용할수있다
- 함수의 인자는 tuple 자료형으로 전달된다

In [ ]:
### 1. 생성하기

In [110]:
#하나의 아이템을 가진 리스트
a = [1]
type(a)

list

In [112]:
# 문법기호 ; 튜플은 ()를 이용해 생성하되 생략이 가능함. 단 쉼표는 무조건 1개이상 들어감
tu = (1,)
type(tu)

tuple

In [114]:
# tuble(리스트)로 처리하면 리스트를 튜플로 변환할수 있다.
b =  tuple(a)
print(type(a), type(b))

<class 'list'> <class 'tuple'>

In [116]:
# 변수 하나에 여러 값을 대입하면 튜플로 간주된다
x = 56,68,29,100
x

(56, 68, 29, 100)

In [118]:
# 튜플 내부의 자료 개수만큼 변수를대입해주면 하나씩 나눠서 값을 받는다
x1, x2,x3 = 1,2,3
print(x1,x2,x3)

1 2 3

###  2) 인덱싱

In [120]:
x[3]

100

### 3) 슬라이싱

In [121]:
x[:3]

(56, 68, 29)

### 4. 튜플 연산자
* 산술연산자 : + *

In [122]:
# 여러개의 튜플 아이템을 합쳐서 새로운 튜플로 구성하기 : +
x + x

(56, 68, 29, 100, 56, 68, 29, 100)

In [123]:
#한개의 튜플을 반복해서 확장해서 새로운 튜플 만들기
x * 4

(56, 68, 29, 100, 56, 68, 29, 100, 56, 68, 29, 100, 56, 68, 29, 100)

In [124]:
### 5. 수정/삭제할수없는튜플
x[0] = 0

TypeError: 'tuple' object does not support item assignment

In [125]:
# 삭제하기 - del키워드 + 인덱싱
del x[0]

TypeError: 'tuple' object doesn't support item deletion