# 데이터 타입
## >숫자형
- 종류
    - 정수 : 0, 양수, 음수인 숫자
    - 실수 : 소수점포함 숫자
    - 8진수 : 0o 또는 0O(왼쪽 숫자0, 오른쪽 알파벳o)로 시작 : 0o34, 0o25
    - 16진수 : 0*로 시작 0*2A, 0xFF

### 정수형

# 양수, 음수, 0
a = 10
b = -20
c = 0

# 정수 타입 : 타입을 확인하는 내장함수 type();

# 실수형

In [1]:
# 양의 실수, 음의 실수 : float
a = 1.3
b = 2.4
c = 0.0

In [3]:
# 타입확인
print(type(a), type(b), type(c))

<class 'float'> <class 'float'> <class 'float'>

## > 연산자
- 산술 : +, -, *, /, //(몫), %(나머지), **(제곱)
- 비교 : == (값이 같은지) != (값이 다른지) <=, >=, <, > 
- 논리 : and, or
- 할당 : =, +=(누적합), -=(누적차), *=(누적곱), /=(몫만 남기기), %=(나머지만 남기기)

### 1) 산술연산자 : 숫자를 계산하기 위한 문법 기호

In [5]:
# 더하기 : +
10 + 3 #정수 + 정수 = > 정수
10.1 + 1 #실수 + 정수 => 실수

11.1

In [ ]:
# 빼기는 +와 처럼 정수 실수의 변환이 이뤄짐

In [6]:
# 나누기 : / 
# 나누기의 결과는 무조건 실수로 나옴
3/3
7/2
5/2.5

2.0

In [9]:
# 곱하기 : *
3*4 # 정수 * 정수 = 정수
-3*5 
1.2*3 # 실수 * 정수 = 실수

3.5999999999999996

In [10]:
# 정수 몫만 반환 ://
# 나눗셈의 결과값보다 작은정수중 가장 큰 정수
# 음수
-5 // 4

-2

In [11]:
# 양수
4 // 3

1

In [12]:
# 정수 몫을 구하고 남은 나머지만 반환 : %
3 % 4

3

In [14]:
# 지수  :  **
2 ** 3
2 ** 0.5

1.4142135623730951

### 2) 비교연산자 : 자료를 비교하기 위한 문법 기호
    - 결과가 숫자가 아닌 bool type의 결과를 가진다
    
> #### bool type
    - True : 0이 아닌 숫자, 참인 조건식 등
    - False : 0, 거짓인 조건식 등
- 값에 대한 비교 :  ==, !=
- 크기에 대한 비교 : >, <,  >=, <=

In [15]:
# 두 값이 같은지 비교 : ==
# (결과) 두 값이 같으면 True, 두 값이 다르면 False
0 == 0.0

True

In [16]:
# 두값이 다른지 비교 : !=
# 두값이 다르면 True 같으면 False
type(0) != type(0.0)

True

In [22]:
# 두 값의 크기를 비교: >= , <= < ,>
10 >= 3
10 <= 3
10 > 10
10 < 11

True

#### 3) 논리 연산자
      - 여러 개의 조건식을 활용하기 위한 명령어
      - boolean 자료형으로 결과를 줌

In [23]:
# and 연산자 :  조건식1 and 조건식2
# 조건식1과 2가 모두 참이라면 True
# 하나라도 틀리면 False
10 < 12 #참
0 > -3  # 참
10 < 12 and 0 > -3 #참

True

In [26]:
# 숫자 0 은 false, 이외의 무든 숫자는 True
# bool(자료)는 자료의 참 거짓을 판단해줌
bool(0)

False

In [27]:
# 0이 False로 사용되는 예시
bool(0 and 10 > 3) # 0 -> False, 10 > 3 -> ture => and 결과 false

False

In [29]:
# or 연산자
# 조건식1 or 조건식2
# 중 하나만이라도 참이라면 True반환
bool(0 or 10 > 3) # 0 -> False 10 > 3 True or의 반환값은 True

True

#### 4) 할당연산자
    - 변수 할당
    - 누적 연산

In [30]:
# 변수명 (왼쪽)에 변수값(오른쪽)을 할당/선언/저장/대입 : = 
x = 10;

In [32]:
# 숫자형의 누적합 +=
# result라는 변수에 누적합을 저장하기
result = 0
# result 에 x만큼 더해 저장
result += x
result

10

In [38]:
# 1~ 10까지 누적합을 구해보세요 : 1+2+3+4+5+6+7+8+9+10
result = 0
# 반복문을 이용해 result 변수에 10까지 더하기
for i in range(1,11):
    result += i
print(result)

55

### 1. 홍길동의 시험 성적 평균을 구하세요
영어 80 국어 72 수학 90 사회 66

In [40]:
eng = 80
kor = 72
meth = 90
soc = 66
result = eng + kor + meth + soc
print(result / 4)

77.0

### 2. 반지름이 7인 원의 넓이를 구해주세요
참고  원 넓이 = (반지름 ** 2) * 3.14

In [5]:
r = 7
pi = 3.14
ser = (r ** 2) * pi

print(ser)

153.86

In [4]:
### 3. 여러분들이 직접 임의의 변수에 원하는 숫자를 집어넣고 그 숫자의 제곱근과 세제곱근을 출력해주세요

sum = 3
print(sum, sum**2, sum**3)
print(sum, sum)

3 9 27

## > 문자열 내장함수* = 문자열 메서드

    └≫ 내장함수 : 특정 데이터 타입이 자체적으로 가지고 있는 속성으로 존재하는 함수
    └≫ 문법 : 변수(데이터타입값).함수명()


* count( ) : 특정 문자의 개수


* find( ) :특정 문자의 인덱스 번호(위치)


* join( ) : 특정 기호를 문자열 아이템 사이에 입력


* upper( ) : 문자열을 대문자로 변경


* lower( ) : 문자열을 소문자로 변경


* capitalize( ) : 문자열의 첫 글자를 대문자로


* swapcase( ) : 대문자는 소문자로, 소문자는 대문자로 전환


* lstrip( ) / rstrip( ) / strip( ) : 좌 / 우 / 앞뒤 공백(기본) 및 특정 문자 지우기


* replace( ) : 기존 문자를 새로운 문자로 바꾸기


* split( ) : 특정 기호를 기준으로 문자열을 아이템 단위로 나누어 리스트로 반환


* center( ) : 문자열 길이를 지정하여 대상 문자열을 중앙 정렬


* ljust( ) : 문자열 길이를 지정하여 대상 문자열을 왼쪽 정렬


* rjust( ) : 문자열 길이를 지정하여 대상 문자열을 오른쪽 정렬

In [6]:
# 문자열 생성
t = 'tomato juice'

In [7]:
#count()
# t문자열안에 a개수
t.count('a')

1

In [8]:
# find() 특정 값의 인덱스 번호를 반환
# t 문자열에서의 a의 인덱스 번호
# find('찾을 자료', 시작인덱스)를 적어주면 특정 인덱스부터만 찾아볼수 있음
# 없는 자료 조회시 -2 이라는 인덱스를 리턴
t.find('to',1)

4

In [9]:
# upper()
# 변경한 결과를 시뮬레이션해서 보여줌 원본자료는 변경이 없음
t.upper()

'TOMATO JUICE'

In [12]:
# lower()
# 변경한 결과를 시뮬레이션해서 보여줌 원본자료는 변경이 없음
t.lower()

'tomato juice'

In [14]:
t= "                                    123                                             123                       "

In [15]:
# lstrip()
# 왼쪽공백을 없앰

t.lstrip()

'123                                             123                       '

In [16]:
# 오른쪽 공백을 없앰
t.rstrip()

'                                    123                                             123'

In [17]:
# 양쪽공백을 없앰
t.strip()

'123                                             123'

In [18]:
# replace(old, new)
# 앞에것을 뒤에걸로 변환함
# 원본은 변경되지않음
t.replace(" ","")

'123123'

In [20]:
# .split("기준")
# 쪼개기
# 기준점을 기준으로 쪼갬 입력을 안하면  ' ', \n, \t 기준으로 쪼갬
t2 = 'a b c'
t2.split()

['a', 'b', 'c']

In [21]:
t3 = 'a,b,c,ddes'

In [27]:
t3.split(",")

['a', 'b', 'c', 'ddes']

In [40]:
# join()
# 왼쪽에 있는 요소를 .join(자료)의
# 자료 인덱스 사이사이에 입력해줌
t = 'abc'
",,".join(t)

'a,,b,,c'

In [ ]:
# 마지막 인덱스번호 = -1을 써도 되고= len() -1

In [32]:
x = 'abcdefg'

In [33]:
x[-1]

'g'

In [34]:
x[len(x)-1]

'g'